{% extends 'base.html' %}
{% block title %}Recover Password {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<!-- PAGE TITLE ================================================== -->
<header class="py-8 py-md-5" style="background-image: none;">
    <div class="container text-center py-xl-2">
        <h1 class="display-4 fw-semi-bold mb-0">Recover Password</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-gray-800" href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                    Recover Password
                </li>
            </ol>
        </nav>
    </div>
</header>

<!-- RECOVER ================================================== -->
<div class="container mb-11">
    <div class="row gx-0">
        <div class="col-md-7 col-xl-4 mx-auto">

            <h3 class="mb-6 text-center">Reset Your Password</h3>
            {% include 'components/msg.html' %}

            <!-- Form -->
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <!-- Submit -->
                <button class="btn btn-primary w-100 mt-3" type="submit">
                    Send Confirmation Link
                </button>
            </form>

            <!-- Text -->
            <p class="mb-0 font-size-sm text-center mt-3">
                Remember your password? <a class="text-underline" href="{% url 'login' %}">Log In</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
