{% load static %}
<!-- Top Navbar -->
<div class="col-12">
  <nav class="navbar navbar-dark bg-primary px-4 py-2 d-flex justify-content-between align-items-center shadow-light">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="{% static 'assets/img/E-LMS_Logo.svg' %}" alt="Project Logo" width="60" height="40" class="me-2">
      <span class="text-white fw-bold">E-LMS </span>
    </a>
      {% include 'components/msg.html' %}
    <!-- Welcome message -->
    <div class="text-white">
      {% if request.user.is_authenticated %}
        <span class="fw-semibold">Welcome, {{ request.user.username }}!</span>
        {% endif %}
    </div>
  </nav>
</div>
